a {
  color: #999999; }

input {
  background: #fff; }

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* repaymentMange */
.details-container h5 {
  font-size: 15px;
  margin-bottom: 10px; }
.details-container p {
  font-size: 22px;
  color: #333333; }
.details-container ul {
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #DBDBDB;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.details-container li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50%;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: center;
  padding-top: 15px; }
  .details-container li:nth-child(1) {
    border-right: 1px solid #EEEEEE; }
  .details-container li:nth-child(2):after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 1px 1px 0 0;
    border-color: #999999;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 10px; }

.repayment-list {
  background: #fff;
  margin-top: 20px; }
  .repayment-list .repayment-box {
    background: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB; }
    .repayment-list .repayment-box .notice {
      margin-top: -5px; }
    .repayment-list .repayment-box .link-icon {
      position: relative;
      padding-right: 10px; }
      .repayment-list .repayment-box .link-icon:after {
        content: " ";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-width: 1px 1px 0 0;
        border-color: #999999;
        border-style: solid;
        -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 0; }
  .repayment-list .title {
    margin-top: 10px; }
  .repayment-list .repayment-infos {
    width: 94%;
    height: 90px;
    margin: 10px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .repayment-list .repayment-infos .repayment-infos-left {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-flex: 1;
      width: 35%;
      height: 46px;
      padding: 22px 0;
      color: #fff;
      text-align: center;
      background: -webkit-gradient(linear, left top, left bottom, from(#FD9839), to(#FF6C5E));
      background: linear-gradient(to bottom, #FD9839, #FF6C5E);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
      .repayment-list .repayment-infos .repayment-infos-left h5 {
        font-size: 22px; }
        .repayment-list .repayment-infos .repayment-infos-left h5 i {
          font-size: 12px; }
    .repayment-list .repayment-infos .repayment-infos-right {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
      width: 65%;
      height: 90px;
      border: 1px solid #DBDBDB;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-left: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .repayment-list .repayment-infos .repayment-infos-right .expired {
        margin-left: 15px; }
      .repayment-list .repayment-infos .repayment-infos-right h5 {
        font-size: 15px;
        color: #333333;
        font-weight: bold;
        margin-bottom: 10px; }
      .repayment-list .repayment-infos .repayment-infos-right .time-out {
        color: #F45953; }
      .repayment-list .repayment-infos .repayment-infos-right .repayment-btn {
        width: 70px;
        height: 25px;
        line-height: 25px;
        display: block;
        margin-right: 10px;
        border-radius: 4px;
        border: 1px solid #F55954;
        color: #F55954;
        text-align: center;
        font-size: 13px; }
        .repayment-list .repayment-infos .repayment-infos-right .repayment-btn:nth-child(2) {
          margin-top: 10px; }
      .repayment-list .repayment-infos .repayment-infos-right .current-btn {
        background: #F4574E;
        color: #fff; }
      .repayment-list .repayment-infos .repayment-infos-right .repayment-on-btn {
        border: 1px solid #999999;
        color: #999999; }

.time-select {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #DBDBDB; }
  .time-select span {
    width: 100%;
    padding-left: 15px;
    line-height: 45px;
    color: #333333;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .time-select i {
    display: block;
    position: relative; }
    .time-select i:after {
      content: " ";
      display: inline-block;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top: 6px solid #999999;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -4px; }

/* repaymentWay */
.repaymentWay {
  background: #fff; }
  .repaymentWay .title {
    padding: 6px 0;
    margin-left: 10px;
    border-bottom: 1px solid #DBDBDB; }
  .repaymentWay .quota {
    margin-left: 15px;
    padding-top: 30px; }
  .repaymentWay .quota-description {
    padding: 15px;
    font-size: 15px;
    border-top: 1px solid #DBDBDB;
    line-height: 30px; }
    .repaymentWay .quota-description p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .repaymentWay .quota-description p:nth-child(1) {
        margin-right: 20px; }
      .repaymentWay .quota-description p em {
        color: #333333; }
  .repaymentWay .prepayment em {
    margin-left: 15px; }
  .repaymentWay .prepayment i {
    color: #F35A58;
    font-size: 12px;
    vertical-align: middle; }
  .repaymentWay h5 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #999999; }
  .repaymentWay h3 {
    font-size: 35px;
    color: #333333;
    margin-bottom: 10px; }
  .repaymentWay .way-list {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB; }
  .repaymentWay li {
    line-height: 45px;
    border-bottom: 1px solid #DBDBDB;
    margin-left: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px; }
    .repaymentWay li a {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #333333;
      font-size: 16px; }
    .repaymentWay li input[type="checkbox"] {
      border: 1px solid #dbdbdb;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      border-radius: 50%; }
    .repaymentWay li:last-of-type {
      border: none; }

.title {
  line-height: 30px;
  padding: 0 15px; }
  .title h4 {
    color: #333333; }
    .title h4 i {
      margin-right: 10px; }
    .title h4 i,
    .title h4 img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      vertical-align: middle; }

/* repaymentSuccess */
.repaymentSuccess, .debit {
  text-align: center;
  color: #333333;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .repaymentSuccess h4, .debit h4 {
    font-weight: bold;
    font-size: 19px; }
  .repaymentSuccess p, .debit p {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 70px; }

.payway {
  padding-left: 15px; }

.alloy-selector-wrap {
  overflow: hidden; }

.alloy-selector {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

/*repaymentHistory*/
.repayment-list {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #EEEEEE; }
  .repayment-list li {
    padding: 15px;
    border-bottom: 1px solid #EEEEEE; }
    .repayment-list li p {
      margin-top: 10px; }
  .repayment-list .list-left {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3; }
    .repayment-list .list-left h5 {
      font-size: 16px;
      color: #333333; }
    .repayment-list .list-left i {
      font-size: 14px;
      color: #F35855;
      margin-left: 7px; }
  .repayment-list .list-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right; }
    .repayment-list .list-right h5 {
      font-size: 16px;
      color: #F15959; }

/*initiateDebit*/
.debit-icon {
  width: 66px;
  height: 66px;
  display: block;
  margin: 0 auto 25px;
  background: url(../common/images/bg_all.png) no-repeat;
  background-size: 175px auto;
  background-position: -105px -238px; }

.ui-datepicker-calendar {
  display: none; }

/*# sourceMappingURL=repayment.css.map */